

body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.left-side, .right-side {
    display: flex;
    flex-shrink: 0;
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.left-side {
    box-sizing: border-box;
    background-color: #7CB9E8;
}

.left-side-container {
    box-sizing: border-box;
    padding: 40px;
    border-radius: 40px;
    height: 500px;
    max-width: 700px;    
}

.input-container {
    display: flex;
    gap: 8px;
}

#draw-style {
    flex: 1;
    flex-shrink: 0;
    flex-basis: 40%;
}

#grid-size {
    width: 30%;
}

#generate-button {
    width: 30%;
}

input, button, select {
    border-radius: 10px;
    border: none;
}

.pacifico-regular {
    font-family: "Pacifico", serif;
    margin: 10px 0px;
    font-weight: 400;
    font-style: normal;
    font-size: 6em;
    color: #002244;
}

.dongle-regular {
    font-family: "Dongle", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;
    line-height: 1em;
    color: #002244;
}

#grid-container {
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    overflow: hidden;

}

.tile {
    flex-shrink: 0;
}